.sectionWrapper {
    padding: 64px 104px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 36px 105px 0px rgba(43, 56, 76, 0.1);
    display: flex;
    gap: 64px;
    right: 50%;
    margin: 0 auto;
    max-width: 1017px;
    transform: translate(50%, -70%);
    z-index: 5;
}

.aboutWrapper {

    & .aboutTitle {
        color: #132238;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
        margin-bottom: 32px;
    }

    & .aboutText {
        color: #424E60;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 32px;
    }

    .buttonWrapper {
        display: flex;
        gap: 16px;
    }

}

.social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px;


    & .socialIcon {
        
        &:hover {
            border-radius: 4px;
            background-color: #C930FF;
            cursor: pointer;
            & svg {
                & path {
                    fill: #fff;
                }
            }
        }

        & a {
            display: block;
            padding: 15px;
        }
    }
}