.button {
  padding: 12px 24px;
  border-radius: 4px;
  background-color: #c930ff;
  border: 1px solid #c930ff;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  z-index: 999;
  &.secButton {
    background-color: #fff;
    color: #c930ff;
    border: 1px solid #c930ff;
    &:hover {
      background-color: #c930ff;
      border: 1px solid #c930ff;
      cursor: pointer;
      color: #fff;

      & svg {
        & path {
          fill: #fff;
        }
      }
    }
  }

  &:hover {
    background-color: #fff;
    border: 1px solid #c930ff;
    cursor: pointer;
    color: #c930ff;

    & svg {
      & path {
        fill: #c930ff;
      }
    }
  }
}
