.heroImageWrapper {
    box-sizing: content-box;
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 10;
    padding: 25px;
    margin-right: 17px;

    & img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        z-index: 50;
    }

    &::before {
        content: "";
        position: absolute;
        top: -35px;
        left: 175px;
        width: 30px;
        height: 722px;
        background: rgba(0, 244, 214, 0.30);
        z-index: -1;
    }

    &::after {
        content: "";
        position: absolute;
        top: -127px;
        right: 108px;
        width: 137px;
        height: 627px;
        background: #FFC6FF;
        z-index: -1;
    }

    & svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 448px;
        height: 448px;
        z-index: 100;
    }
}

@media (max-width: 960px) and (min-width: 769px){
    .heroImageWrapper {
        img {
            width: 282px;
            height: 282px;
        }

        &::before {
            width: 18px;
            height: 557px;
            top: 0;
            left: 103px;
        }

        &::after {
            width: 104px;
            height: 483px;
        }

        svg {
            top: 7px;
            left: 7px;
            width: 316px;
            height: 316px;
        }
    }
}

/*    
    .heroImageWrapper {
        position: relative;
        align-self: center;
        justify-self: center;
        left: 0;
        top: 0;

        & img {
            width: 282px;
            height: 282px;
            position: relative;
        }

        &::before {
            width: 18px;
            height: 557px;
            z-index: 10;
            top: 0;
            left: 103px;
        }

        &::after {
            width: 104px;
            height: 483px;
        }

        & svg {
            top: 7px;
            left: 7px;
            width: 316px;
            height: 316px;
        }
    }
}
*/
@media (max-width: 768px) {
    .heroImageWrapper {
        position: relative;
        align-self: center;
        justify-self: center;
        left: 0;
        top: 0;
        margin-right: 0;

        & img {
            width: 282px;
            height: 282px;
            position: relative;
        }

        &::before {
            top: -107px;
            left: 0;
            transform: rotate(33deg);
            width: 30px;
            height: 722px;
            z-index: none;
        }

        &::after {
            transform: rotate(33deg);
            background: linear-gradient(180deg, rgba(255,255,255,0), rgba(255,198,255,1) 10%);
            width: 137px;
            height: 613px;
            top: -120px;
            right: 107px;
        }

        & svg {
            top: 7px;
            left: 7px;
            width: 316px;
            height: 316px;
        }
    }
}
