.heroSection {
    background-color: #FFF;
    position: relative;
    overflow: hidden;
    padding-top: 46px;

    & .background {
        padding-top: 46px;
        padding-bottom: 425px;
    }

    & .heroInfoWrapper {
        display: flex;
        flex-direction: column;
        max-width: 1220px;
        margin: 0 auto;
        padding: 0 16px;
        position: relative;
    }

    & .articleWrapper {
        padding-top: 82px;
        padding-bottom: 74px;
        max-width: 912px;
        position: relative;
        background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
        z-index: 8;
    }

    & h1 {
        color: #132238;
        font-size: 72px;
        font-weight: 600;
        line-height: 84px;
        margin-bottom: 32px;
    }

    & p {
        color: #556070;
        margin-bottom: 32px;
    }

    & .greenEllipse {
        position: absolute;
        bottom: 170px;
        left: -130px;
        width: 757.86px;
        height: 316.592px;
        transform: rotate(-30deg);
        z-index: 1;
        border-radius: 757.86px;
        background: linear-gradient(182deg, rgba(8, 249, 203, 0.60) -157.4%, rgba(0, 255, 208, 0.00) 216.94%);
        ;
        filter: blur(100px);
    }

    & .purpleRectangle {
        position: absolute;
        top: -20%;
        left: 70%;
        width: 498px;
        height: 871px;
        transform: rotate(-130deg);
        z-index: 1;
        border-radius: 871px;
        background: rgba(218, 77, 241, 0.4);
        filter: blur(300px);
    }

    & .blueCircle {
        position: absolute;
        z-index: 1;
        top: 60%;
        left: 50%;
        width: 1044.316px;
        height: 1044.316px;
        transform: rotate(-130.444deg);
        border-radius: 1044.316px;
        background: rgba(196, 236, 245, 0.70);
        filter: blur(300px);
    }
}

@media (max-width: 1200px) {
    .heroSection {
        & .articleWrapper {
            padding: 40px 28px;
            z-index: 80;
            display: flex;
            flex-direction: column;

            align-items: center;
            & .textWrapper {
                display: flex;
                flex-direction: column;
                background: none;
            }
        }
    }
}