.sectionWrapper {
    max-width: 1017px;
    margin: 0 auto 40px;
    border-radius: 16px;
    background: #41526A;
    box-shadow: 0px 36px 105px 0px rgba(43, 56, 76, 0.10);
    display: flex;

    & .sectionTextWrapper {
        padding-top: 115px;
        padding-bottom: 107px;
        padding-left: 102px;

        & h3 {
            color: #FFF;
            font-size: 24px;
            font-weight: 600;
            line-height: 100%;
            margin-bottom: 24px;
        }

        & p {
            color: #FFF;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 24px;
        }
    }

    & div {
        overflow: hidden;
        border-radius: 16px;

        & .caseImage {
            background-image: url('../../../images/Auction-app.png');
            background-repeat: no-repeat;
            background-size: calc(100% - 50px);
            width: 100%;
            transform: translateX(50px) translateY(-10px) scale(1.7);
        }
    }    
}