.statsWrapper {
    display: flex;
    align-items: center;
    gap: 4px;

    .stats {
        width: 200px;
        border: 1px solid #FFF;
        background: rgba(255, 255, 255, 0.70);
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        z-index: 90;
    }
    & div:nth-child(1n) {
        border-radius: 6px 0px 0px 6px;
    }
    & div:nth-child(2n) {
        border-radius: 0;
    }
    & div:nth-child(3n) {
        border-radius: 0px 6px 6px 0px;
    }

    .boldText {
        color: #424E60;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
    }

    .thinText {
        color: #556070;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }
}

@media screen and (max-width: 994px) {

    .statsWrapper {

    .stats {
        width: 164px;
        height: 116px;
        padding: 0;
    }

    .boldText {
        font-size: 32px;
    }

    .thinText {
        font-size: 16px;
    }
}
}

@media (max-width: 900px ) {
    .statsWrapper {
        display: none;
    }
}
