.sectionWrapper {
    max-width: 1017px;
    margin: 0 auto 40px;
    border-radius: 16px;
    box-shadow: 0px 36px 105px 0px rgba(43, 56, 76, 0.1);
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 500px;

    .sectionTextWrapper {
        padding-left: 20%;
        padding-bottom: 20%;
        padding-top: 20%;

        & h3 {
            font-size: 24px;
            font-weight: 600;
            line-height: 100%;
            margin-bottom: 24px;
        }

        & p {
            grid-area: p;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 24px;
        }
    }

    & div+div {
        overflow: hidden;
        max-width: 500px;

        & img {
            width: 100%;
            height: auto;
        }
    }

}

.button {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #C930FF;
    color: #C930FF;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    z-index: 999;

    &:hover {
        background-color: #C930FF;
        border-radius: 4px;
        cursor: pointer;
        color: #fff;

        & svg {
            & path {
                fill: #fff;
            }
        }
    }
}

@media (max-width: 1200px) {
    .sectionWrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        margin: 0 auto;
        padding-bottom: 40px;

        .sectionTextWrapper {
            padding: 0;
            padding-top: 27px;

            & h3 {
                font-size: 24px;
                font-weight: 600;
                line-height: 100%
            }

            & p { display: none; }

        }


    }

    div+div {

        & img {}

    }


}